Your job has started. You can connect using one of the two methods below:
<br>
<b>Note:</b> when connecting the first time to a new job please allow a minute or two for the Stata GUI to load.<br>
<br>
<b>To connect with the browser based client:</b><br>
<a  class="btn btn-primary" target="_blank" href="/pun/sys/dashboard/noVNC-1.0.0/vnc.html?autoconnect=true&password=<%= password %>&path=rnode/<%= host %>/<%= websocket %>/websockify&resize=none" >
   <i class="fa fa-eye"></i>Launch noVNC web Client
</a>
<a  class="btn btn-default pull-right" target="_blank" href="/pun/sys/dashboard/noVNC-1.0.0/vnc.html?autoconnect=true&password=<%= spassword %>&path=rnode/<%= host %>/<%= websocket %>/websockify&resize=downscale">
   <i class="fa fa-eye"></i>View Only (Share-able Link)
</a>
<br>
<br>
<b>To connect with <a href="https://www.turbovnc.org/" target="_blank">TurboVNC</a> client:</b>
<br>
1. <a href="https://sourceforge.net/projects/turbovnc/files/" target="_blank"> Download and install the TurboVNC client on your computer</a>
<br>
2. <a  class="btn btn-primary" href="/pun/sys/files/fs<%= vnc_connection_file %>" download >
   <i class="fa fa-eye"></i>Download and open the VNC connection file
</a>
<br>
<br>
Refer to this page for additional information (...link will be provided shortly) 

